<table>
  <thead>
    <tr>
      <th colspan="2">Run</th>
      <th>Branch</th>
      <th>Revision</th>
      <th>Finished at</th>
      <th>Tests</th>
      <th>Excludes</th>
      <th>Failures</th>
      <th class="duration">Duration</th>
    </tr>
  </thead>
  <%= for run <- @runs do %>
    <%= render "_run.html", run: run, suite: @suite, slowest: assigns[:slowest] %>
  <% end %>
</table>
