/* main (based on https://github.com/jeffkreeftmeijer/enough.css) */
body{
  font: 16px/1.4 system-ui, sans-serif;
  padding: 1em;
}
h1, h2, h3, h4, h5, h6{
  line-height: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
table{
  border-collapse: collapse;
  font: inherit;
  width: 100%;
}
td, th{
  padding: 0.5em;
}
td:first-child, th:first-child{
  padding-left: 0;
}
td:last-child, th:last-child{
  padding-right: 0;
}
th{
  text-align: left;
}

/* data */
.status_icon{
  width: 1ch;
}
.passed .status_icon{
  color: green;
}
.failed .status_icon{
  color: red;
}

/* bar */
.bar{
  background-color: whitesmoke;
  border-radius: 0.25em;
}
.bar span{
  display: block;
  height: 0.5em;
  border-radius: 0.25em;
  min-width: 0.5em;
}
.passed .bar span{
  background-color: green;
}
.failed .bar span{
  background-color: red;
}
